@model CharacterEntityListViewModel<Item>
@{
    ViewData["Title"] = "Sector";
}

<h2>Sector</h2>
<h3>@Model.Name</h3>
<table id="#exampleTable" class="table table-dark">
  <thead>
    <tr>    
        <th scope="col">Name</th>
        @foreach (var attribute in typeof(CharacterSheet).GetProperties())
        {
            <th scope="col">@attribute.Name</th>
        }
        
    </tr>
  </thead>
@foreach(var entity in Model.Entities)
{
    <tr>
        <th scope="row">@entity.DisplayName</th>
        @foreach(var prop in entity.Stats.GetType().GetProperties())
        {        
            try
            {
                var val = prop.GetValue(entity.Stats);
                <td>@Html.DisplayName(val == null ? "" : val.ToString())</td>    
            }
            catch (System.Exception)
            {
                <td>@prop.Attributes</td>                
            }    
            
        }
    </tr>
}
</table>

@section styles
{
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />  
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
@section scripts
{    
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>  
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>  
    <script>
    $(document).ready(function () {
        if($('.table').length){
            $('.table').DataTable({
            "searching": true,
            "filter": true,            
            });
                        
            console.log("lol");
        }
        else{
            console.log("woops");
         }
    });
        
    </script>   
}
   



